/* 30% 70% 70% 30% / 40% 45% 55% 60%  */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&family=Leckerli+One&family=Montserrat:wght@300;400;600;700&display=swap');

/* CSS Reset */
* {
    font-family: "Poppings", san-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* to remove default focus style */
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    /* to apply transition time for all prop changes */
    transition: all .2s;
}

/* Variables */
:root {
    --PRIMARY-COLOR: #5928E5;
    --SECONDARY-COLOR: #F5ECFF;  
    --TERTIARY-COLOR: #C5B8EF;
    --OTHER-COLOR: #FEFEDF; 
}


/* General CSS */
body {
    width: 100%;
    height: 100vh;
    font-family: 'Hind', sans-serif;
    overflow-x: hidden;
} 

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

.hero-desc{
    font-size: 1.1em;
    color: var(--SECONDARY-COLOR);
}

h1 {
    font-size: 1.8em;
}

.no-wrap {
    white-space: nowrap;
}

.logo-text {
    color: var(--SECONDARY-COLOR);
    font-size: 1.1em;
}

h2 {
    font-size: 1.4em;
}

header {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

header .nav-bar {
    display: none;
}

#hero {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

.hero-img img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

header {
    padding: 18px 25px;
}

.logo {
    grid-column: 1/5;
    /* parent - relative container */
    position: relative;
}

.logo img {
    position: absolute;
    left: 0;
}

.logo .logo-text {
    position: absolute;
    /* right: 0; */
    left: 30px;
}

.icons {
    grid-column: 8/9;
    /* not including dark mode now */
    /* to move right side */
    /* margin-left: 40px; */
}

.icons i {
    display: inline-block;
    /* margin-left: 18px; */
    font-size: 1.3em;
}

section {
    padding: 0 30px;
}

.hero-text {
    grid-column: 1/9;
    margin: 30px auto;
    text-align: center;
}

.hero-img {
    grid-column: 2/8;
    background-color: white;
    border-radius: 87% 13% 60% 41% / 49% 50% 51% 51%;
}

.hero-desc {
    margin-top: 8px;
    /* line-height: 1.2; */
}

.btn-container {
    /* to center btn in hero */
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.btn {
    background-color: var(--SECONDARY-COLOR);
    padding: 8px 15px;
    border-radius: 20px;
}

#hero .btn:hover {
    background-color: rgb(254, 254, 254);
    /* box-shadow: 2px 2px 3px aqua; */
    letter-spacing: 1px;
}

/* For SVG */
#wave {
    position: relative;
    bottom: 15px;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}
/* Benefits section */
#benefits {
    /* to move little bit up */
    margin-top: -20px;
}

#benefits .outer {
    grid-column: 2/8;
    margin: 10px auto;
    text-align: center;
}

#benefits .inner-icon {
    /* border: 2px solid purple; */
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

#benefits .inner-icon i {
    font-size: 3em;
    color: var(--TERTIARY-COLOR);
}

#benefits .inner-text h4 {
    font-size: 1.1em;
    margin: 5px 0 3px;
}

#benefits .outer:hover .inner-icon{
    /* color: white; it wont be applied to icon */
    background-color: var(--PRIMARY-COLOR);
}

#benefits .outer:hover .inner-icon i {
    color: white;
}

/* Procedure section */
#procedure {
    background-color: var(--SECONDARY-COLOR);
    padding-bottom: 10px;
}

/* For svg */
.pro-top {
    position: relative;
    top: 10px;
}

#procedure .heading {
    padding-top: 10px;
}

#procedure .outer {
    grid-column: 2/8;
    text-align: center;
    background-color: white;
    margin: 16px auto;
    padding: 30px 15px;
    border-radius: 10px;
}

#procedure .outer:hover {
    box-shadow: 3px 4px 8px var(--TERTIARY-COLOR), -4px -4px 8px var(--TERTIARY-COLOR);
}

#procedure .inner-icon {
    display: inline-block;
    /* border: 2px solid black; */
    border-radius: 15px;
    padding: 10px;
    /* background-color: #8D8596; */
}

#procedure .inner-icon i {
    color: var(--TERTIARY-COLOR);
    font-size: 3.5em;
}

#procedure .inner-text h4 {
    color: var(--PRIMARY-COLOR);
    font-size: 1.1em;
    margin: 6px 0 3px;
}

#procedure .outer:hover .inner-icon {
    background-color: var(--PRIMARY-COLOR);
}

#procedure .outer:hover .inner-icon i {
    color: white;
}

#procedure .outer:hover .inner-text h4 {
    transform: scale(1.1);
}

/* Features styles */
#features {
    padding-bottom: 20px;
}

#features .outer {
    /* background-color: var(--TERTIARY-COLOR); */
    border: 3px solid var(--TERTIARY-COLOR);
    border-radius: 20px;
    grid-column: 2/8;
    text-align: center;
    padding: 10px 8px;
    margin-bottom: 15px;
    transition: all 0.2s, color 0.1s;
}

#features img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}
#features h4 {
    font-size: 1.1em;
    margin: 5px 0 4px;
}

#features .outer:hover {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

#features .outer:hover h4 {
    color: var(--SECONDARY-COLOR);
}

#feautres div.btn-container {
    padding: 0;
}

#features .btn:hover {
    letter-spacing: 1px;
}


/* Testimonials styles */
#testimonials {
    margin-bottom: 80px;
}

#testimonials .swiper-slide {
    background-color: var(--OTHER-COLOR);
    padding: 30px;
    border: 2px solid var(--SECONDARY-COLOR);
    border-radius: 20px;
}

#testimonials p {
    color: var(--PRIMARY-COLOR);
}

#testimonials .swiper {
    width: 85%;
}

.user-img i {
    font-size: 4em;
    color: var(--TERTIARY-COLOR);
    display: inline-block;
    border-radius: 50%;
    padding: 16px;
}

.user-img {
    display: flex;
    justify-content: center;
}

/* Footer styles */
#footer {
    background-color: var(--PRIMARY-COLOR);
    color: white;
    padding: 30px 15px;
}

#footer div {
    grid-column: 3/7;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.4;
}

#footer li a {
    color: white;
}

#footer-wave {
    position: relative;
    top: 10px;
}

.flogo img {
    margin-right: 5px;
    position: relative;
    top: 5px;
}

#footer h3 {
    margin-bottom: 3px;
}

#footer h4 {
    font-size: 1.1em;
    color: var();
}

.logo-light {
    color: #fff700;
}

/* Media queries */

/* For small tablets (from 620px) */
@media all and (min-width: 620px) {

    #hero {
        padding: 25px 25px 20px;
    }
    .hero-text {
        /* 5 cols for text */
        grid-column: 1/6;
        text-align: left;
    }

    .hero-img {
        /* 3 cols for img */
        grid-column: 6/9;
    }

    .grid {
        gap: 15px;
    }

    #benefits {
        /* trying to move little bit up */
        margin-top: -20px;
    }

    .heading {
        font-size: 1.8em;
        margin-bottom: 40px;
    }
    #benefits .outer:first-child {
        grid-column: 1/5;
    }

    #benefits .outer:nth-child(2) {
        grid-column: 5/9;
    }

    #benefits .outer:nth-child(3) {
        grid-column: 1/5;
    }

    #benefits .outer:nth-child(4) {
        grid-column: 5/9;
    }

    #benefits .outer:last-child {
        grid-column: 3/7;
    }

    #benefits .outer {
        padding: 0 10px;
    }

    #procedure .outer {
        padding: 30px 35px;
    }
    #procedure .outer:first-child {
        grid-column: 1/5;
    }

    #procedure .outer:nth-child(2) {
        grid-column: 5/9;
    }
    #procedure .outer:last-child {
        grid-column: 3/7;
    }

    #features .outer:first-child {
        grid-column: 1/5;
    }

    #features .outer:nth-child(2) {
        grid-column: 5/9;
    }

    #features .outer:last-child {
        grid-column: 3/7;
    }

    #features .outer {
        padding: 20px 30px;
    }

    #testimonials .swiper {
        width: 65%;
    }
    
    .user-img i {
        font-size: 5em;
        padding: 20px;
    }


}

/* For large tablets & laptops (from 960px) */
@media all and (min-width: 960px) {

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2em;
    }
    /* .grid {
        100% upto 1059
        width: 100%;
        to make it center
        max-width: 1060px;
        margin: auto;
    } */

    header .logo {
        grid-column: 1/4;
        margin-left: 20px;
    }

    .hero-text {
        /* text, img -> equal cols */
        grid-column: 1/5;
        /* vertically align center */
        align-self: center;
    }
    .hero-img {
        grid-column: 5/9;
    }

    .icons {
        display: none;
    }

    #hero .btn-container {
        padding-bottom: 0;
    }

    /* displaying navbar */
    header .nav-bar {
        display: block;
    }

    .nav-bar {
        grid-column: 4/9;
    }
    
    .nav-bar ul {
        display: flex;
    }

    .nav-bar li a {
        display: inline-block;
        color: white;
        padding: 10px 20px;
    }

    .nav-bar li a:hover {
        background-color: white;
        color: var(--PRIMARY-COLOR);
    }

    #benefits .outer:first-child {
        grid-column: 2/4;
    }

    #benefits .outer:nth-child(2) {
        grid-column: 4/6;
    }

    #benefits .outer:nth-child(3) {
        grid-column: 6/8;
    }

    #benefits .outer:nth-child(4) {
        margin-top: 20px;
        grid-column: 3/5;
    }
    
    #benefits .outer:last-child{
        margin-top: 20px;
        grid-column: 5/7;
    }

    #benefits .outer .inner-text {
        width: 100%;
    }

    #benefits .inner-icon i {
        font-size: 4.5em;
    }

    #procedure .outer:first-child, #features .outer:first-child {
        grid-column: 2/5;
    }

    #procedure .outer:nth-child(2), #features .outer:nth-child(2) {
        grid-column: 5/8;
    }

    #procedure .outer:last-child {
        grid-column: 3/7;
        width: 80%;
        /* margin: auto; */
    }

    #features .outer {
        padding: 30px;
    }

    #features .inner-img img {
        width: 60%;
        height: auto;
    }
    /* common to all */
    .inner-text h4 {
        padding-top: 18px;
    }

    #features .outer:last-child {
        grid-column: 3/7;
        width: 75%;
        margin: 0 auto;
    }

    #testimonials {
        margin: 30px 0;
    }

    #testimonials .swiper {
        width: 55%;
        /* padding: 40px 80px; this is not working */
    }

    .user-text {
        padding: 40px 50px;
    }

    .user-text p {
        font-size: 1.1em;
    }

    #footer div:first-child{
        grid-column: 1/3;
    }

    #footer div:nth-child(2) {
        text-align: left;
        grid-column: 4/6;
    }
    
    #footer div:last-child{
        text-align: left;
        grid-column: 7/9;
    }

}

/* For desktops */
@media all and (min-width: 1200px) {

    body {
        font-size: 20px;
    }

    #hero, #benefits, #features, #procedure, #testimonials, header {
        padding-left: 90px;
        padding-right: 90px;
    }

    header {
        padding-top: 30px;
    }

    h1 {
        font-size: 2.2em;
    }

    h4 {

    }
    /* procedure svg -> to adjust */
    .pro-top {
        top: 30px;
    }

    #footer-wave {
        top: 15px;
    }

    #procedure .inner-icon i, #benefits .inner-icon i {
        font-size: 5em;
    }

    #procedure .outer:first-child, #features .outer:first-child {
        grid-column: 1/3;
    }

    #procedure .outer:nth-child(2), #features .outer:nth-child(2) {
        grid-column: 4/6;
    }

    #procedure .outer:last-child,#features .outer:last-child {
        grid-column: 7/9;
        width: 100%;
        /* margin: auto; */
    }

    /* to make it small */
    #testimonials .swiper{
        width: 50%;
    }

    #footer div {
        /* to make eveything center */
        margin: 0 auto;
    }

    

}