/* 30% 70% 70% 30% / 40% 45% 55% 60%  */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&family=Leckerli+One&family=Montserrat:wght@300;400;600;700&display=swap');

/* CSS Reset */
* {
    font-family: "Poppings", san-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* to remove default focus style */
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    /* to apply transition time for all prop changes */
    transition: all .2s;
}

/* Variables */
:root {
    --PRIMARY-COLOR: #5928E5;
    --SECONDARY-COLOR: #F5ECFF;  
    --TERTIARY-COLOR: #C5B8EF;
    --OTHER-COLOR: #FEFEDF; 
}


/* General CSS */
body {
    width: 100%;
    height: 100vh;
    font-family: 'Hind', sans-serif;
    overflow-x: hidden;
} 

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

.hero-desc{
    font-size: 1.1em;
    color: var(--SECONDARY-COLOR);
}

h1 {
    font-size: 1.8em;
}

.no-wrap {
    white-space: nowrap;
}

.logo-text {
    color: var(--SECONDARY-COLOR);
    font-size: 1.1em;
}

h2 {
    font-size: 1.4em;
}

header {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

header .nav-bar {
    display: none;
}

#hero {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

.hero-img img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

header {
    padding: 18px 25px;
}

.logo {
    grid-column: 1/5;
    /* parent - relative container */
    position: relative;
}

.logo img {
    position: absolute;
    left: 0;
}

.logo .logo-text {
    position: absolute;
    /* right: 0; */
    left: 30px;
}

.icons {
    grid-column: 6/9;
    /* to move right side */
    margin-left: 40px;
}

.icons i {
    display: inline-block;
    margin-left: 18px;
    font-size: 1.3em;
}

section {
    padding: 0 30px;
}

.hero-text {
    grid-column: 1/9;
    margin: 30px auto;
    text-align: center;
}

.hero-img {
    grid-column: 2/8;
    background-color: white;
    border-radius: 87% 13% 60% 41% / 49% 50% 51% 51%;
}

.hero-desc {
    margin-top: 8px;
    /* line-height: 1.2; */
}

.btn-container {
    /* to center btn in hero */
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.btn {
    background-color: var(--SECONDARY-COLOR);
    padding: 8px 15px;
    border-radius: 20px;
}

#hero .btn:hover {
    background-color: rgb(254, 254, 254);
    /* box-shadow: 2px 2px 3px aqua; */
    letter-spacing: 1px;
}

/* For SVG */
#wave {
    position: relative;
    bottom: 15px;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}
/* Benefits section */
#benefits {
    /* to move little bit up */
    margin-top: -20px;
}

#benefits .outer {
    grid-column: 2/8;
    margin: 10px auto;
    text-align: center;
}

#benefits .inner-icon {
    /* border: 2px solid purple; */
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

#benefits .inner-icon i {
    font-size: 3em;
    color: var(--TERTIARY-COLOR);
}

#benefits .inner-text h4 {
    font-size: 1.1em;
    margin: 5px 0 3px;
}

#benefits .outer:hover .inner-icon{
    /* color: white; it wont be applied to icon */
    background-color: var(--PRIMARY-COLOR);
}

#benefits .outer:hover .inner-icon i {
    color: white;
}

/* Procedure section */
#procedure {
    background-color: var(--SECONDARY-COLOR);
    padding-bottom: 10px;
}

/* For svg */
.pro-top {
    position: relative;
    top: 10px;
}

#procedure .heading {
    padding-top: 10px;
}

#procedure .outer {
    grid-column: 2/8;
    text-align: center;
    background-color: white;
    margin: 16px auto;
    padding: 30px 15px;
    border-radius: 10px;
}

#procedure .outer:hover {
    box-shadow: 3px 4px 8px var(--TERTIARY-COLOR), -4px -4px 8px var(--TERTIARY-COLOR);
}

#procedure .inner-icon {
    display: inline-block;
    /* border: 2px solid black; */
    border-radius: 15px;
    padding: 10px;
    /* background-color: #8D8596; */
}

#procedure .inner-icon i {
    color: var(--TERTIARY-COLOR);
    font-size: 3.5em;
}

#procedure .inner-text h4 {
    color: var(--PRIMARY-COLOR);
    font-size: 1.1em;
    margin: 6px 0 3px;
}

#procedure .outer:hover .inner-icon {
    background-color: var(--PRIMARY-COLOR);
}

#procedure .outer:hover .inner-icon i {
    color: white;
}

#procedure .outer:hover .inner-text h4 {
    transform: scale(1.1);
}

/* Features styles */
#features {
    padding-bottom: 20px;
}

#features .outer {
    /* background-color: var(--TERTIARY-COLOR); */
    border: 3px solid var(--TERTIARY-COLOR);
    border-radius: 20px;
    grid-column: 2/8;
    text-align: center;
    padding: 10px 8px;
    margin-bottom: 15px;
    transition: all 0.2s, color 0.1s;
}

#features img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}
#features h4 {
    font-size: 1.1em;
    margin: 5px 0 4px;
}

#features .outer:hover {
    background-color: var(--PRIMARY-COLOR);
    color: white;
}

#features .outer:hover h4 {
    color: var(--SECONDARY-COLOR);
}

#feautres div.btn-container {
    padding: 0;
}

#features .btn:hover {
    letter-spacing: 1px;
}


/* Testimonials styles */
#testimonials {
    margin-bottom: 80px;
}

#testimonials .swiper-slide {
    background-color: var(--OTHER-COLOR);
    padding: 30px;
    border: 2px solid var(--SECONDARY-COLOR);
    border-radius: 20px;
}

#testimonials p {
    color: var(--PRIMARY-COLOR);
}

#testimonials .swiper {
    width: 85%;
}

.user-img i {
    font-size: 4em;
    color: var(--TERTIARY-COLOR);
    display: inline-block;
    border-radius: 50%;
    padding: 16px;
}

.user-img {
    display: flex;
    justify-content: center;
}

/* Footer styles */
#footer {
    background-color: var(--PRIMARY-COLOR);
    color: white;
    padding: 30px 15px;
}

#footer div {
    grid-column: 3/7;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.4;
}

#footer li a {
    color: white;
}

#footer-wave {
    position: relative;
    top: 10px;
}

.flogo img {
    margin-right: 5px;
    position: relative;
    top: 5px;
}

#footer h3 {
    margin-bottom: 3px;
}

#footer h4 {
    font-size: 1.1em;
    color: var();
}

.logo-light {
    color: #fff700;
}